@import url(https://fonts.googleapis.com/css?family=Lobster|Titan+One);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
    --color-1: #A60D0D;
    --color-2: #98096A;

  }

header{
    width: 100%;
    height: 80px;
    margin-top: 40px;
    position: fixed;
    z-index: 1;
}

.container__menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 100px;

}

.menu{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-left: 36px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

#selected{
    background:var(--color-1);
    padding: 10px 40px;
    border-radius: 50px;
}

.menu nav img{
    display: none;
}

.menu #btn_menu{
    display: none;
}
h1 {
    font: 50px Lobster;
    color: white;
    text-align: center;
    margin-right: 13px;
    margin: 5% auto 0;
    opacity: 1;
    
  }




/*COVER*/


.container__cover{
    width: 100%;
    height: 800px;
  
  background-image: radial-gradient(circle at 88.05% 71.97%, #b547ef 0, #9a41f1 25%, #783cf2 50%, #4739f3 75%, #0038f4 100%);
    background-position: right;
   
}

.cover{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__cover .text{
    max-width: 400px;
    
}

.container__cover .text h1{
    font-size: 60px;
    font-weight: 600;
    
}

.container__cover .text p{
    font-size: 20px;
    margin-top: 40px;
}

.container__cover .text input{
    padding: 18px 80px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-left: 80px;
    margin-top: 40px;
    background: var(--color-1);
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #e82c14;
    transition: all 300ms;
}



.container__cover .svg img{
    width: 600px;
    animation: move-vector 4s linear infinite;
}

@keyframes move-vector {
    0%{
        transform: translateY(15px);
    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(15px);
    }
}


/*Responsive*/

@media screen and (max-width:1200px){

    header{
        padding: 40px;
    }
    .logo img{
        width: 80px;
    
    }
    .container__cover p{
        margin-left: 40px;
      
        
    }

}

@media screen and (max-width: 720px){
    .logo img{
        width: 68px;
    
    }
    .menu nav{
        position: fixed;
        top: 0;
        right: -250px;
       background-color:#4739f3;
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
    }

    .menu ul{
        flex-direction: column;
        margin-top: 40px;
    }

    .menu ul li{
        margin-top: 30px;
        margin-left: 0;
    }

    .menu ul li a{
        color: #bebebe;
    }

    #selected{
        background: none;
        padding: 0px;
        border-radius: none;
        color:var(--color-1);
    }

    .menu nav img{
        display: block;
        width: 60px;
    }

    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        display: none;
    }

    .menu #btn_menu{
        display: flex;
        align-items: center;
        width: 33.33%;
       
        background: rgba(255, 255, 255, 0.1);
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 300ms;
    }

    .menu #btn_menu:hover{
        background: rgba(255, 255, 255, 0.2);
    }

.container__cover p{
    margin-left: 30px;
    text-align:justify;
    
}
.container__cover input{
    padding: 20px 80px;
   

}


}